<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes">
  <!--@css(/layout/basic/css/ec-base-product.css)-->
  <!--@css(/layout/basic/css/ec-base-paginate.css)-->
  <!--@css(/layout/basic/css/ec-base-ui.css)-->
  <!--@css(/layout/basic/css/ec-base-help.css)-->
  <!--@css(/layout/basic/css/ec-base-button.css)-->
  <!--@css(/layout/basic/css/ec-base-box.css)-->
  <!--@css(/layout/basic/css/ec-base-layer.css)-->
  <!--@css(/layout/basic/css/ec-base-table.css)-->
  <!--@css(/layout/basic/css/ec-base-fold.css)-->
  <!--@css(/layout/basic/css/ec-base-prdInfo.css)-->
  <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
  <!--@css(/layout/basic/css/ec-base-tab.css)-->

  <!--@css(/gridsystem/resource/css/vendor.css)-->
  <!--@css(/gridsystem/resource/css/common.css)-->
  <!--@css(/gridsystem/resource/css/layout.css)-->
  <!--@css(/gridsystem/resource/css/font/font.css)-->

  <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
  <!--@js(/gridsystem/resource/js/jquery.plugin.js)-->
  <!--@js(/gridsystem/resource/js/common.js)-->
  <!--@css(/index.css)-->

  <!--@import(/_kd/base.html)--><!-- 케이디자인 베이스 -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>

<body id="main" class="dnd">

  <!-- 상단 띠배너 -->
  <!--@import(/_kd/import/bn_top.html)-->
  <!-- // 상단 띠배너 -->

  <!-- 헤더 -->
  <!--@import(/_kd/import/header2.html)-->
  <!-- // 헤더 -->

  <!-- 햄버거 메뉴 -->
  <!--@import(/layout/basic/sidebar2.html)-->
  <!-- // 햄버거 메뉴 -->

  <div id="wrap">
    <div id="container">
      <div id="contents">
        <!--@contents-->
      </div>
      <hr class="layout" />
    </div>
    <hr class="layout" />
  </div>
  <hr class="layout" />

  <!-- 제작팝업 -->
  <!--@import(/_kd/import/popup/popup.html)-->
  <!-- // 제작팝업 -->

  <!-- 좌측 고정 배너 -->
  <!--@import(/_kd/import/bn_right.html)-->
  <!-- // 좌측 고정 배너 -->

  <!-- 푸터 -->
  <!--@import(/_kd/import/footer.html)-->
  <!-- // 푸터 -->

  <!-- 퀵메뉴 -->
  <!--@import(/_kd/import/quick_menu.html)-->
  <!-- // 퀵메뉴 -->

  <!-- 인덱스 js -->
  <!--@js(/index.js)-->
  <!-- // 인덱스 js -->

  <!-- body -->
  <div module="Popup_MultiPopup">
    <!--
        $banner_popup_no =
        ※ 노출시킬 팝업의 ID를 숫자로 넣어주세요.
        -->
    {$popup}
  </div>
  <div module="Popup_MultiBanner">
    <!--
        $banner_popup_no =
        ※ 노출시킬 배너의 ID를 숫자로 넣어주세요.
        -->
    {$banner}
  </div>

  <!--
    • 케이디자인의 배너는 배너매니저를 설치하여 작업이 되었습니다.
    배너매니저는 앱스토어에서 배너매니저를 검색하여 설치 또는 아래 링크를 통해 설치해주세요.
    링크 : https://store.cafe24.com/kr/apps/2798
    설치 후 배너 영역은 배너매니저 매뉴얼과 그룹코드를 참고하여 세팅해주세요.
    배너매니저를 미설치하시거나 그룹코드가 다를 경우 정상적으로 나오지 않을 수 있습니다.
-->

  <!-- 배너매니저 스크립트 코드 -->
  <!--@import(/_kd/import/bn_code.html)-->
  <!-- // 배너매니저 스크립트 코드 -->

</body>

</html>